body{
    margin: 20px;
    text: #2b2839;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-picture{
    width: 170px;
    height: 150px;
    border-radius: 100%;
}

.card{
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    text-align: center;
    border-bottom: 15px solid #ffddd2;
    background-color: #83c5be;

}

.details-styler{
    border-radius: 10%;
    background-color: #edf6f9;
    padding: 5px;
    box-shadow: 5px 5px 2px #ffddd2;
}

.shadow-style{
    text-shadow: 2px 2px 2px #88888888;
}
